<div class="container">
    <div class="row">
        <div class="col-md-4">
            <label>Email: </label>
        </div>
        <div class="col-md-8">
            <label bind="email"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Password: </label>
        </div>
        <div class="col-md-8">
            <label bind="password"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Age: </label>
        </div>
        <div class="col-md-8">
            <label bind="age"></label>
        </div>
    </div>
    <div class="row">
            <div class="col-md-4">
                <label>Gender: </label>
            </div>
            <div class="col-md-8">
                <label bind="gender"></label>
            </div>
        </div>
    <div class="row">
        <div class="col-md-4">
            <label>Address1: </label>
        </div>
        <div class="col-md-8">
            <label bind="address1"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Address2: </label>
        </div>
        <div class="col-md-8">
            <label bind="address2"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>City: </label>
        </div>
        <div class="col-md-8">
            <label bind="city"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>State: </label>
        </div>
        <div class="col-md-8">
            <label bind="state"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Zip: </label>
        </div>
        <div class="col-md-8">
            <label bind="zip"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Is user confirmed: </label>
        </div>
        <div class="col-md-8">
            <label bind="confirmed"></label>
        </div>
    </div>
</div>